.benefits-table{
  padding: 242px 0 120px;
  @include lit-desktop(){
    padding: 222px 0 100px;
  }
  @include tablet(){
    padding: 206px 0 80px;
  }
  @include mobile(){
    padding: 70px 0;
  }
  @include lit-mobile(){
    padding: 190px 0 60px;
  }
  &__inner{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      height: 100%;
      width: 20%;
      background-color: $lightBlock;
      z-index: -1;
      transition: $transtion;
      left: 41%;
      @include lit-mobile(){
        display: none;
      }

    }
    &--1{
      &:before{
        left: 40%;
      }
      @include lit-mobile(){
        .benefits-table__col{
          &:nth-child(2){
            background-color: $lightBlock;
          }
        }
      }
    }
    &--2{
      &:before{
        left: 56%;
      }
      @include lit-mobile(){
        .benefits-table__col{
          &:nth-child(3){
            background-color: $lightBlock;
          }
        }
      }
    }
    &--3{
      &:before{
        left: 80%;
      }
      @include lit-mobile(){
        .benefits-table__col{
          &:nth-child(4){
            background-color: $lightBlock;
          }
        }
      }
    }
  }
  &__section-head{
    margin-bottom: 48px;
    @include tablet(){
      margin-bottom: 24px;
    }
    @include mobile(){
      margin-bottom: 20px;
    }
    @include lit-mobile(){
      margin-bottom: 28px;
    }

  }
  .section-head__title{
    @include lit-desktop(){
      font-size: 36px;
      line-height: 117%;
    }
    @include tablet(){
      font-size: 32px;
      line-height: 119%;
    }
    @include lit-mobile(){
      font-size: 24px;
      line-height: 117%;
    }
  }
  &__row{
    display: flex;
    border-bottom: 1px solid #eae1f0;
    // min-height: 64px;
    align-items: center;
    padding: 19.5px 0;
    @include tablet(){
      padding: 24px 0;
    }
    @include lit-mobile(){
      flex-wrap: wrap;
      padding: 0;
      align-items: stretch;
    }

    & + &{
      @include lit-mobile(){
        margin-top: 20px;
      }
    }
  }
  &__head{
    &-title{
      font-weight: 700;
      font-size: 28px;
      line-height: 135%;
      color: #1d1c1e;
      margin: 42px 0 0;
      & + .benefits-table__row{
        margin-top: 30px;
        @include tablet(){
          margin-top: 24px;
        }
      }
      @include tablet(){
          font-size: 24px;
      }
      @include mobile(){
        font-size: 20px;
      }


    }
    &-desc{
      font-size: 18px;
      line-height: 135%;
      color: #8a7e95;
      max-width: 40%;
      margin-bottom: 30px;

      @include tablet(){
        font-size: 16px;
        margin-bottom: 24px;
        max-width: 300px;
      }
      @include mobile(){
        font-size: 14px;
      }
    }
  }
  &__left{
    width: 40%;

    box-sizing: border-box;
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    color: #464547;
    padding-right:8%;
    box-sizing: border-box;
    @include lit-desktop(){

      padding-right: 2%;
    }
    @include tablet(){
      font-size: 16px;
    }
    @include mobile(){
      width: 34%;
    }
    @include lit-mobile(){
      width: 100%;
      margin-bottom: 12px;
      font-size: 15px;
    }
    &--lit{
      font-size: 16px;
      padding-right: 2%;
      @include lit-mobile(){
        font-size: 14px;
      }
    }
    &-title{
      font-weight: 500;
      font-size: 18px;
      line-height: 135%;
      color: #464547;
      @include tablet(){
        font-size: 16px;
      }
      @include lit-mobile(){
        font-size: 15px;
      }


    }
    &--soon{
      color: #8a7e95;
    }
  }
  &__col{
    box-sizing: border-box;
    width: 20%;
    font-weight: 500;
    font-size: 16px;
    line-height: 135%;
    color: #464547;
    padding: 0 16px;
    @include mobile(){
      font-size: 14px;
      padding: 0 8px;
      width: 22%;
    }
    @include lit-mobile(){
      width: 33.3%;
      padding: 12px 6px;
    }
    &--title{
      font-weight: 600;
      font-size: 18px;
      line-height: 135%;
      color: #1d1c1e;
      @include tablet(){
        font-size: 16px;
      }
      @include mobile(){
        font-size: 14px;
      }
    }
    svg{
      height: 16px;
      width: 16px;
      fill: #C2B2D8;
      &.active{
        fill: url(#tabs-active);
      }
    }
  }
}
