.convenience{
  padding: 120px 0 60px;
  margin-bottom: -340px;
  @include lit-desktop(){
    padding: 100px 0 60px;
  }
  @include tablet(){
    padding: 80px 0 60px;
    margin-bottom: -220px;
  }
  @include mobile(){
    padding: 60px 0;
    margin-bottom: -150px;
  }
  @include lit-mobile(){
    padding: 50px 0;
    margin-bottom: -138px;
  }
  &__row{
    display: flex;
    align-items: center;
    gap: 40px;
    @include lit-desktop(){
      gap: 20px;
    }
    @include tablet(){
      gap: 0;
      align-items: flex-start;
    }
    @include mobile(){
      flex-wrap: wrap;
    }
  }
  &__item{
    width: 39%;
    line-height: 0;
    @include lit-desktop(){
      width: 41%;
      max-width: 341px;
    }
    @include tablet(){
      max-width: 270px;
      height: 304px;
      width: 100%;
      flex-shrink: 0;
    }
    @include lit-mobile(){
      width: 190px;
      height: 213px;
    }
    & + &{
      margin-top: 37px;
      margin-left: -60px;
      @include mobile(){
        margin-top: 103px;
        margin-left: -30px;
      }
      @include lit-mobile(){
        width: 226px;
        height: 253px;
        margin-top: 181px;
       margin-left: -86px;
      }
    }
    img{
      max-width: 100%;
      border-radius: 10px;
      @include tablet(){
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__attention{
    width: 386px;
    margin-left: -90px;
    @include lit-desktop(){
      width: 318px;
      margin-left: -110px;
    }
    @include tablet(){
      width: 265px;
      margin-top: 37px;
      margin-left: -55px;
    }
    @include mobile(){
      margin: -17px 11% 0 auto;
      max-width: 330px;
      width: 100%;
    }
    @include lit-mobile(){
      margin: 35px auto 0;
      max-width: 360px;
      width: 100%;
    }
    img{
      border-radius: 10px;
    }
  }
}

.attention{

  &__wrap{
    padding: 48px;
    background: rgba(255, 255, 255, 0.83);
    border: 1px solid rgba(222, 222, 222, 0.45);
    box-shadow: inset 0px -4px 12px rgba(255, 255, 255, 0.14), inset 0px 4px 19px rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    @include lit-desktop(){
      padding: 20px;
    }
    @include tablet(){
      padding: 20px 20px 22px;
    }
    @include mobile(){
      padding: 24px 16px;
    }

  }
  &__inner-image{
    @include mobile(){
      display: none;
    }
  }
  &__row{
    display: flex;
    align-items: center;
    gap: 21px;
    @include lit-desktop(){
      gap: 12px;
    }
    @include tablet(){
      gap: 0;
      flex-direction: column;
    }
  }
  &__title{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    @include lit-desktop(){
      font-size: 16px;
      line-height: 175%;
    }
    @include mobile(){
      display: none;
    }
  }
  &__btn{
    margin-top: 24px;
    width: 100%;
    &--mobile{
      display: none;
      @include mobile(){
        display: block;
      }
    }
    @include lit-desktop(){
      margin-top: 16px;
    }
    @include tablet(){
      margin-top: 12px;
    }
    @include mobile(){
      margin-top: 0;
    }
    & + &{
      @include mobile(){
        margin-top: 16px;
      }
    }
  }
  &__right{
    margin-right: -12px;
    @include lit-desktop{
      padding-bottom: 24px;
    }
    @include tablet(){
      position: relative;
      padding-bottom: 0;
      margin-right: 0;
    }
    @include mobile(){
      width: 100%;
    }
  }
  &__icon{
    display: block;
    margin-top: 12px;
    width: 60px;
    height: 57px;
    margin-left: -2px;
    fill: #D4CBE8;
    @include tablet(){
      position: absolute;
      bottom: 100%;
      left: -45px;
      transform: rotate(130deg);
      margin-bottom: -4px;

    }
    @include mobile(){
      transform: rotate(152deg);
      margin-bottom: 20px;
      bottom: 100%;
      left: 20px;
    }
  }
  &__image{
    @include tablet(){
      height: 163px;
      margin-left: auto;
      margin-bottom: 2px;
    }
  }
}
