.confidence{
  position: relative;
  padding: 60px 0;
  @include lit-desktop(){
    padding: 40px 0;
  }
  &:before,&:after{
    content: '';
    position: absolute;
    background: url(../img/decor.svg) no-repeat center center;
    background-size: contain;
  }
  &:before{
    height:87px;
    width:87px;
    top: 9px;
    right: 4.8%;
    transform: rotate(8deg);
    @include lit-desktop(){
      top: -27px;
      right: -1.2%;
    }
  }
  &:after{
    height: 63px;
    width: 63px;
    bottom: -32px;
    left: 14.2%;
    transform: rotate(45deg);
    @include lit-desktop(){
      bottom: -23px;
      left: 10px;
    }
  }
  &__row{
    display: flex;
    // flex-wrap: wrap;
    margin:0 -22px;
    justify-content: space-between;
  }
  &__item-container{
    padding: 0 22px;
    box-sizing: border-box;
  }
  &-item{
    img{
      max-height: 38px;
    }
  }
  &__btn-container{
    text-align: center;
    margin-top: 46px;
    @include lit-desktop(){
      margin-top: 24px;
    }
    .btn{
      max-width: 242px;
      display: block;
      margin: 0 auto;
    }
  }
}
