.photo-offer{
  margin-top: 60px;
  @include lit-desktop(){
    margin-top: 50px;
  }
  @include tablet(){
    margin-top: 40px;
  }
  @include mobile(){
    margin-top: 30px;
  }
  &__title{
    font-weight: 700;
    font-size: 28px;
    line-height: 135%;
    color: #1d1c1e;
    margin-bottom: 8px;
    @include lit-desktop(){
      font-size: 24px;
    }
    @include mobile(){
      font-size: 20px;
      margin-bottom: 12px;
    }

  }
  &__form{
    @include tablet(){
      margin-left: -8px;
    }
    @include mobile(){
      margin-left: 0;
    }
  }
  &__desc{
    font-size: 20px;
    line-height: 135%;
    color: #464547;
    @include lit-desktop(){
      font-size: 18px;
    }
    @include tablet(){
      max-width: 58%;
      font-size: 16px;
    }
    @include mobile(){
      max-width: 50%;
    }
    @include lit-mobile(){
      max-width: 100%;
    }
  }
  &__wrap{
    position: relative;
    padding: 46px 34% 50px 0;
    // @include lit-desktop(){
    //   padding: 43px 50px 40px 18px;
    // }
    @include lit-desktop(){
        padding: 46px 43% 50px 0;
    }
    @include tablet(){
      padding: 41px 60px 50px 0;
    }
    @include mobile(){
      padding: 30px 38px 33px 0;
    }
    @include lit-mobile(){
        padding:30px 21px 37px 0;
    }
    &:after{
      background: rgba(202, 185, 255, 0.35);
      border: 1px solid rgba(222, 222, 222, 0.45);
      box-shadow: inset 0px -4px 12px rgba(255, 255, 255, 0.14), inset 0px 4px 19px rgba(255, 255, 255, 0.02);
      backdrop-filter: blur(12px);
      border-radius: 0px 10px 100px 0px;
      @include mobile(){
        border-radius: 0 10px 60px 0;
      }
      content: '';
      position: absolute;
      right: 0;
      width: 1000em;
      height: 100%;
      top: 0;
      z-index:-1;
    }
    &:before{
      content: "";
      position: absolute;
      right: 23.6%;
      top: 100%;
      margin-top: -45px;
      height: 87px;
      width: 87px;
      background: url(../img/decor.svg) no-repeat center center;
      background-size: contain;
      z-index: -32;
      @include lit-desktop(){
        right: 10%;
      }
      @include tablet(){
        right: 4%;
      }
      @include mobile(){
        right: 3.6%;
        margin-top: -36px;
      }
    }
  }
  &__row{
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    padding-top: 30px;
    @include tablet(){
      padding-top: 24px;
    }
    @include mobile(){
      padding-top: 16px;
    }
    @include lit-mobile(){
      padding-top: 0;
    }
  }
  &__image{
    position: absolute;
    right: 43px;
    top: 47%;
    transform: translateY(-50%);
    max-width: 337px;
    width: 100%;
    @include lit-desktop(){
      top: 49%;
    }
    @include tablet(){
      max-width: 247px;
      transform: none;
      top: 43px;
      right: 31px;
    }
    @include mobile(){
      max-width: 223px;
      top: 66px;
      right: 32px;
    }
    @include lit-mobile(){
      position: static;
      max-width: 100%;
      display: block;
      margin: 12px auto 24px;
    }
  }
  &__item-container{
    padding: 10px;
    box-sizing: border-box;
    &--file{
      width: 100%;
    }
    &--w100{
      width: 100%;
    }
    &--w40{
      width: 40%;
      @include lit-desktop(){
        width: 50%;
      }
      @include lit-mobile(){
        width: 100%;
      }
      &:nth-child(3){
       @include lit-mobile(){
        order: -1;
       }
      }
    }
    &--file{
      @include tablet(){
        width:60%;
      }
      @include mobile(){
        width: 53%;
      }
      @include lit-mobile(){
        width: 100%;
        order: -2;
      }
    }
  }
  .input--name{
    @include lit-mobile(){
      height: 90px;
    }
  }
  &__button{
    width: 100%;
    height: 100%;
    span{
      height: 100%;
      padding-left: 2px;
      padding-right: 2px;
    }
  }
}
