.gallery{
  padding: 30px 0 60px;
  @include lit-desktop(){
    padding: 20px 0 40px;
  }
  @include tablet(){
    padding: 10px 0 40px;
  }
  @include mobile(){
    padding: 20px 0;
  }
  a{
    display: block;
    line-height: 0;
  }
  &__swiper{
    &--desktop{
      @include lit-mobile(){
        display: none;
      }

    }
    &--mobile{
      display: none;
      @include lit-mobile(){
        display: block;
      }
    }
    .swiper-slide{
      max-height: 339px;
     @include lit-desktop(){
      max-height: 181px;
     }
     @include tablet(){
        max-height: 136px;
     }
     @include mobile(){
      max-height: 102px;
     }
    }
    & + &{
      margin-top: 24px;
      .swiper-slide{
        max-height: 420px;
      }
     @include lit-desktop(){
      margin-top: 15px;
      .swiper-slide{
        max-height: 224px;
      }
     }
     @include tablet(){
      margin-top: 11px;
      .swiper-slide{
        max-height: 168px;
      }
     }
     @include mobile(){
      margin-top: 8px;
      .swiper-slide{
        max-height: 128px;
      }
      @include lit-mobile(){
          .swiper-slide{
            max-height: 220px;
          }
      }
     }
    }
  }
  .swiper-slide{
    width: 25%;
    height: auto;
    @include lit-mobile(){
      width: 80%;

    }
    a{
      display: block;
      height: 100%;
      width: 100%;
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}
