.hero{
  &--index{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 7%;

      height: 59px;
      width: 59px;
      background: url(../img/decor.svg) center center no-repeat;
      background-size: contain;
      transform: rotate(35deg);
      @include lit-desktop(){
        right: 31%;
        left: auto;
        top: -11px;
      }
      @include tablet(){
        right: 26.7%;
        top: -15px
      }
    }
    &::after{
      content: '';
      position: absolute;
      bottom:26%;
      left:7%;

      height: 39px;
      width: 39px;
      background: url(../img/decor.svg) center center no-repeat;
      background-size: contain;
      transform: rotate(-7deg);
      @include lit-desktop(){
        left: auto;
        right: 50%;
        bottom: 18%;
      }
      @include tablet(){
        display: none;
      }
    }
  }
  padding: 48px 0 92px;
  background-color: $lightBlock;
  @include lit-desktop(){
    padding: 19px 0 85px;
  }
  @include tablet(){
    padding: 19px 0 69px;
  }
  &__title{
    margin: 0 0 36px 0;
    color: $zag;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @include lit-desktop(){
      font-size: 48px;
      margin: 0 0 17px 0;
    }
    @include tablet(){
      font-size: 36px;
      margin: 0 0 14px 0;
      max-width: 500px;
    }
    span{
      background: linear-gradient(90deg, #6A2CC7 3.3%, #A85DC8 26.34%, #E55962 51.37%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__desc{
    font-size: 20px;
    font-weight: 500;
    line-height: 135%; /* 27px */
    margin: 0 0 26px 0;
    p{
      margin: 0;
    }
    @include lit-desktop(){
      font-size: 18px;
    }
    @include tablet(){
      font-size: 16px;
      line-height: 135%;
      font-weight: 400;
      max-width: 500px;
      margin: 0 0 20px 0;
    }
  }
  &__content{
    max-width: 70%;
    @include tablet(){
      max-width: 100%;
    }
  }
  &__advantages-row{
    display: flex;
    flex-wrap: wrap;
    margin: -8px -15px;
    max-width: 636px;
    @include lit-desktop(){
      max-width: 480px;
    }
    @include tablet(){
      max-width: inherit;
      margin: -6px -15px;
    }

  }
  &__advantages-item-container{
    width: 50%;
    padding: 8px 15px;
    box-sizing: border-box;
    @include tablet(){
      padding: 6px 15px;
    }
  }

  &__advantages-item{
    &-head{
      position: relative;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 123px;
      height: 48px;
      margin-left: 20px;
      border-radius: 10px;
      color: $white;
      // background: linear-gradient(222deg, #E87E51 4.29%, #6627B9 51.37%, #3D104D 100%);
      background: url(../img/adv-bg.svg) no-repeat center center;
      font-size: 30px;
      font-weight: 800;
      line-height: normal;
      margin-bottom: -24px;
      @include lit-desktop(){
        font-size: 24px;
        width: 94px;
        height: 37px;
        padding-right: 7px;
        background-size: contain;
        margin-bottom: -18px;
      }
      @include tablet(){
        font-size: 24px;
        margin-left: 16px;
      }
      &--big{
        font-size: 50px;
        @include lit-desktop(){
          font-size: 40px;
        }
        @include tablet(){
          font-size: 40px;
        }
      }
    }
    &-body{
      padding: 34px 20px 16px;
      font-size: 16px;
      font-weight: 600;
      line-height: 135%; /* 21.6px */
      background-color: $white;
      border-radius: 10px;
      @include lit-desktop(){
        font-size: 14px;
        padding: 28px 20px 16px;
      }
      @include tablet(){
        padding: 23px 20px 12px;
      }
    }
  }
  &__video{
    position: absolute;
    right: 0;
    bottom: 102px;
    // width: 760px;
    width: 39.6%;
    height: 420px;
    @include lit-desktop(){

      width: 447px;
      height: 247px;
      bottom: 170px;
    }
    @include tablet(){
      bottom: -119px;
      width: 50%;
      height: auto;
    }
    &::before{
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-bottom: -30px;
      height: 59px;
      width: 59px;
      background: url(../img/decor.svg) center center no-repeat;
      background-size: contain;
      transform: rotate(35deg);
      @include lit-desktop(){
        left: 59%;
      }
    }
    video{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px 0px 0px 120px;
      @include tablet(){
        position: static;
        max-width: 100%;
        height: auto;
      }
    }
  }
  &__video-play{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 70px;
    z-index: 50;
    svg{
      height: 100%;
      width: 100%;
      display: block;
      path{
        fill: red;
      }
    }
  }
  &__btn{
    margin-top: 44px;
    @include lit-desktop(){
      margin-top: 31px;
    }
    @include tablet(){
      margin-top: 37px;
    }
  }
}
