.input{
  position: relative;
  &__elem,&__textarea{
    display: block;
    width: 100%;
    border-radius: 10px;
    background-color: $lightBlock;
    border: 1px solid transparent;
    box-sizing: border-box;
    outline: none;
    height: 60px;
    transition: $transtion;
    padding: 0 30px;
    color: $zag;
    font-size: 16px;
    letter-spacing: 0.02em;
    padding-top: 5px;
    &::placeholder{
      opacity: 0;
    }
    &--white{
      background-color: $white;
    }
    @include mobile(){
      font-size: 14px;
      padding: 0 16px;
    }
    &:not(:placeholder-shown) ~ label, &:focus ~ label{
      transform: translateY(-16px);
      font-size: 12px;
      color: $mainColor;
    }
    &:hover{
      border-color: $lightDark;
    }
  }
  &__textarea{
    height: 90px;
    padding-top: 25px;
    resize: none;
  }
  &__label{
    pointer-events: none;
    position: absolute;
    padding-right: 10px;
    top: 20px;
    left: 30px;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #aea5b9;
    transition: $transtion;
    @include mobile(){
      font-size: 14px;
      line-height: 157%;
      left: 16px;
    }
  }

}
.form{
  &__input + &__input{
    margin-top: 16px;
  }
}
