.main-menu{
  &__list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
  &__item{
    position: relative;
    width: 100%;
    & + &{
      margin-left: -1px;
    }
    &{
      .main-menu__link{
        &:before{
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          background-color: $phiolText;
          height: 14px;
          width: 1px;

        }

      }
    }
    &:last-child{
      .main-menu__link{
        &:after{
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          background-color: $phiolText;
          height: 14px;
          width: 1px;

        }

      }
    }
    @include for-desktop(){
      &:hover{
        .main-menu__link-icon{
          fill: $white;
          transform: rotate(180deg);
        }

      }
    }
  }
  &__link{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    color: $phiolText;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 82.353% */
    border-radius: 10px;
    @include tablet(){
      font-size: 14px;
      padding: 12px;
    }
    &-icon{
      width: 9px;
      height: 6px;
      flex-shrink: 0;
      margin-left: 6px;
      margin-top: 2px;
      fill: $phiolText;
      transition: $transtion;
    }
    @include for-desktop(){
      transition: $transtion;
      &:hover{
        background-color: $phiolText;
        color: $white;
        .main-menu__link-icon{
          fill: $white;
          transform: rotate(180deg);
        }
      }
    }
  }
  &__submenu{
    width: 292px;
    // display: none;
    position: absolute;
    top: 100%;
    margin: 4px 0 0 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: $transtion;
  }
  a[link-disabled]{
    position: relative;
    pointer-events: none;
    &:after{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(225, 216, 252) 75%);
    }
    span{
      position: absolute;
      right: 2px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 6px;
      padding: 3px 8px;
      background-color: $lightBlock;
      color: $phiolText;
      font-weight: 500;
      font-size: 15px;
      line-height: 133%;
      color: #734ca5;
      z-index: 50;
    }
  }
 @include for-desktop(){
  li:hover{
    > .submenu{
     opacity: 1;
     visibility: visible;
     pointer-events: all;
     height: auto;
     padding-top: 12px;
     padding-bottom: 12px;

    }
    > a:not([link-disabled]){
     background-color: $phiolText;
     color: $white;
     .submenu__link-icon{
       transform: rotate(180deg);
       fill: $white;
     }
    }

 }
 }
}
.submenu{
  list-style: none;


  background-color: $lightDark;
  border-radius: 10px;
  padding-left: 3px;
  padding-bottom: 3px;
  z-index: 50;


  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: -5px;
    height: 5px;
    width: 100%;
  }
  &--inside{
    height: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:opacity $transtion, padding $transtion;

  }
  &__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 6px 27px;
    box-sizing: border-box;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 200% */
    border-radius: 10px;
    transition: $transtion;
    &-icon{
      width: 9px;
      height: 6px;
      flex-shrink: 0;
      margin-left: 6px;
      margin-top: 2px;
      fill: $phiolText;
      transition: $transtion;
    }

  }
}
