.main-menu{
  &__list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    @include mobile(){
      flex-direction: column;
    }
  }
  &__item{
    position: relative;
    width: 100%;
    & + &{
      margin-left: -1px;
      @include mobile(){
        margin-left: 0;
        margin-top: 4px;
      }
    }
    &{
      .main-menu__link{
        &:before{
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          background-color: $phiolText;
          height: 14px;
          width: 1px;
          @include mobile(){
            display: none;
          }
        }

      }
    }
    &:last-child{
      .main-menu__link{
        &:after{
          content: '';
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          background-color: $phiolText;
          height: 14px;
          width: 1px;

        }

      }
    }
    @include for-desktop(){
      &:hover{
        .main-menu__link-icon{
          fill: $white;
          transform: rotate(180deg);
        }

      }
    }
    &.is-open{
      > ul{
        visibility: visible;
        opacity: 1;
        max-height: 500px;
        pointer-events: all;
        padding: 8px 0;
        margin-top: 8px;
        margin-bottom: 8px;

      }
    }
  }
  &__link{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    color: $phiolText;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 82.353% */
    border-radius: 10px;

    @include tablet(){
      font-size: 14px;
      padding: 12px;
    }
    @include mobile(){
      color: $white;
      font-size: 15px;
      line-height: 34px;
      padding: 0;
      display: block;

    }
    &-icon{
      width: 9px;
      height: 6px;
      flex-shrink: 0;
      margin-left: 6px;
      margin-top: 2px;
      fill: $phiolText;
      transition: $transtion;
      @include mobile(){
        fill: $white;
        margin-left: 1px;
        margin-top: 1px;
      }
    }

      transition: $transtion;
      &:hover{
        background-color: $phiolText;
        color: $white;
        .main-menu__link-icon{
          fill: $white;
          transform: rotate(180deg);
        }
      }

  }
  &__submenu{
    width: 292px;
    // display: none;
    position: absolute;
    top: 100%;
    margin: 4px 0 0 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: $transtion;

    @include mobile(){
      position: static;
      width: auto;
      max-height: 0;
      margin: 0 -24px;
      border-radius: 10px;
      background-color: #48296F;

    }
  }
  a[link-disabled]{
    position: relative;
    pointer-events: none;
    &:after{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(225, 216, 252) 75%);
      @include mobile(){
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(72, 41, 111) 75%);
      }
    }
    span{
      position: absolute;
      right: 2px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 6px;
      padding: 3px 8px;
      background-color: $lightBlock;
      color: $phiolText;
      font-weight: 500;
      font-size: 15px;
      line-height: 133%;
      color: #734ca5;
      z-index: 50;
      @include mobile(){
        right: 6px;
        background-color: $phiolText;
        font-size: 13px;
        line-height: 154%;
        color: #e1d8fc;
      }
    }
  }
 @include for-desktop(){
  li:hover{
    > .submenu{
     opacity: 1;
     visibility: visible;
     pointer-events: all;
     height: auto;
     padding-top: 12px;
     padding-bottom: 12px;

    }
    > a:not([link-disabled]){
     background-color: $phiolText;
     color: $white;
     .submenu__link-icon{
       transform: rotate(180deg);
       fill: $white;
     }
    }

 }
 }
}
.submenu{
  list-style: none;


  background-color: $lightDark;
  border-radius: 10px;
  padding-left: 3px;
  padding-bottom: 3px;
  z-index: 50;

  @include mobile(){
    padding: 0;

      background-color: #48296F;
      &.submenu--inside{
        margin: 0 4px;
      }
  }
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: -5px;
    height: 5px;
    width: 100%;
  }
  &--inside{
    height: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:opacity $transtion, padding $transtion;
    @include mobile(){
      max-height: 0;
      height: auto;
      transition: $transtion;
      background: #e1d8fc;
      border-radius: 10px;



      .submenu__link{
        color: $phiolText;
      }
    }

  }
  &__item + &__item{
    margin-top: 4px;
  }
  li{
    &.is-open{
      .submenu {
        height: auto;
        visibility: visible;
        pointer-events: all;
        opacity: 1;
        max-height: 500px;
        padding: 9px 0;
      }

    }
  }
  &__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 6px 27px;
    box-sizing: border-box;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 200% */
    border-radius: 10px;
    transition: $transtion;
    @include mobile(){
      color: $white;
      font-size: 13px;
      line-height: 231%;
      padding: 4px 10px 4px 20px;
      justify-content: flex-start;
    }
    &-icon{
      width: 9px;
      height: 6px;
      flex-shrink: 0;
      margin-left: 6px;
      margin-top: 2px;
      fill: $phiolText;
      transition: $transtion;
      @include mobile(){
        fill: $white;
      }
    }

  }
}
