.section-head{
  &--lit-margin{
    margin-bottom: 20px;
    @include lit-mobile(){
      margin-bottom: 12px;
    }
  }
  &--medium-margin{
    margin-bottom: 40px;
    @include lit-desktop(){
      margin-bottom: 29px;
    }
    @include tablet(){
      margin-bottom: 20px;
    }
    @include lit-mobile(){
      margin-bottom: 16px;
    }
  }
  &--big-margin{
    margin-bottom: 45px;
    @include lit-desktop(){
      margin-bottom: 35px;
    }
    @include tablet(){
      margin-bottom: 25px;
    }
    @include mobile(){
      margin-bottom: 20px;
    }
  }
  &__title{
    margin: 0;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    color: $zag;
    &--lit{
      @include lit-desktop(){
        font-size: 36px;
        line-height: 117%;
      }
    }
    @include tablet(){
      font-size: 36px;
      line-height: 42px;
    }
    @include small-tablet(){
      font-size: 32px;
      line-height: 38px;
    }
    @include mobile(){
      font-size: 26px;
      line-height: 32px;
    }
    @include lit-mobile(){
      font-size: 24px;
      line-height: 28px;
    }
  }
  &__subtitle{
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    color: $mainColor;
    margin: 30px 0 24px;
    @include lit-desktop(){
      font-size: 22px;
      line-height: 135%;
    }
    @include tablet(){
      font-size: 20px;
      line-height: 135%;
      margin: 22px 0 16px;
    }
  }
  &__desc{
    font-size: 20px;
    font-weight: 600;
    line-height: 135%;
    color: $mainColor;
    margin: 15px 0 0 0;
    &--lit{
      @include lit-desktop(){
        font-size: 18px;
        margin: 12px 0 0 0;
      }
    }
    p{
      margin: 0;
    }
    @include tablet(){
      font-size: 18px;
      margin: 20px 0 0 0;
    }
    @include mobile(){
      margin: 4px 0 0 0;
    }
    @include lit-mobile(){
      margin: 16px 0 0 0;
    }
  }
}
