.social{
  &__list{
    display: flex;
    align-items: center;
    list-style: none;
    margin: -4px -8px;
    padding: 0;
    @include tablet(){
      margin: -3px;
    }
  }
  &__item{
    padding: 4px 8px;
    box-sizing: border-box;
    @include tablet(){
      padding: 3px;
    }
  }
  &__icon{
    height: 28px;
    width: 28px;
    --color1:#fff;
    --color2:#734CA5;
    &Bg{
      fill: $white;
    }
    &Elem{
      fill: $phiolText;
    }
    transition: $transtion;
    @include for-desktop(){
      &:hover{
      .social__iconBg{
        fill: $phiolText;
      }
      .social__iconElem{
        fill: $white;
      }
      }
    }
    &:active{

      .social__iconBg{
        fill: $phiolText;
      }
      .social__iconElem{
        fill: #E1D8FC;
      }
    }
    @include mobile(){
      height: 24px;
      width: 24px;
    }
    &--big{
      height: 36px;
      width: 36px;
      @include mobile(){
        height: 28px;
        width: 28px;
      }
    }
    path{
      transition: $transtion;
    }

  }
}
