<section class="convenience">
  <div class="container">
    <div class="section-head section-head--big-margin">
      <h2 class="section-head__title">
        Что удобнее вашим клиентам?
      </h2>
    </div>
    <div class="convenience__row">
      <div class="convenience__item">
        <img src="img/conv1.jpg" alt="">
      </div>
      <div class="convenience__item">
        <img src="img/conv2.jpg" alt="">
      </div>
      <div class="attention convenience__attention">
        <div class="attention__wrap">
          <div class="attention__row">
            <img class="attention__image" src="img/qr.jpg" alt="">

            <div class="attention__right">
              <div class="attention__title">
                Попробуйте
              </div>
              <svg class="attention__icon">
                <use xlink:href="img/sprite.svg#arrow_down_left"></use>
              </svg>
            </div>
          </div>
          <a href="#" class="btn btn--big btn--gradient attention__btn">
            <span>Связаться с нами</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
