<section class="section offer">
  <div class="container">
     <div class="offer__wrap">
      <h3 class="offer__title">
        Попробуйте
      </h3>
      <div class="offer__subtitle">
        С&nbsp;помощью решений Zarbo покупатели рассматривают покупки со&nbsp;всех сторон и&nbsp;примеряют их&nbsp;виртуально.

      </div>
      <div class="offer__content">
        <p>
          Такой виджет может появится на&nbsp;вашем сайте или интернет-магазине. Он&nbsp;будет нативно интегрирован, будут использоваться ваши цвета и&nbsp;шрифты.
        </p>
      </div>
      <a href="#" class="btn btn--big btn--gradient offer__btn">
        <span>Попробовать бесплатно</span>
      </a>
     </div>
  </div>
</section>
