<section class="section spheres">

  <div class="container">
    <div class="spheres__section-head section-head section-head--lit-margin">
      <h2 class="section-head__title">
        Дайте вашим клиентам больше причин для покупки
      </h2>
      <div class="section-head__desc">
        <p>
          Zarbo полезен в сферах:
        </p>
      </div>
    </div>

    <div class="spheres__row tabs-js"  data-tabs="spheres-tab">
      <div class="spheres__list swiper tabs__nav">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <li class="spheres__item tabs__nav-btn tabs__nav-btn--active" data-tab="1">
              <svg class="spheres__item-decor">
                <use xlink:href="img/sprite.svg#left_label"></use>
              </svg>

              <div class="spheres__item-name">
                Мебель
              </div>
              <svg class="spheres__item-icon">
                <use xlink:href="img/sprite.svg#sofa"></use>
              </svg>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="spheres__item tabs__nav-btn" data-tab="2">
              <svg class="spheres__item-decor">
                <use xlink:href="img/sprite.svg#left_label"></use>
              </svg>
              <div class="spheres__item-name">
                Бытовая техника, свет
              </div>

              <svg class="spheres__item-icon">
                <use xlink:href="img/sprite.svg#microwave"></use>
              </svg>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="spheres__item tabs__nav-btn" data-tab="3">
              <svg class="spheres__item-decor">
                <use xlink:href="img/sprite.svg#left_label"></use>
              </svg>
              <div class="spheres__item-name">
                Автомобильные диски
              </div>

              <svg class="spheres__item-icon">
                <use xlink:href="img/sprite.svg#disks"></use>
              </svg>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="spheres__item tabs__nav-btn" data-tab="4">
              <svg class="spheres__item-decor">
                <use xlink:href="img/sprite.svg#left_label"></use>
              </svg>

              <div class="spheres__item-name">
                Техника
              </div>
              <svg class="spheres__item-icon">
                <use xlink:href="img/sprite.svg#technique"></use>
              </svg>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="spheres__item tabs__nav-btn" data-tab="5">
              <svg class="spheres__item-decor">
                <use xlink:href="img/sprite.svg#left_label"></use>
              </svg>
              <div class="spheres__item-name">
                Строительство
              </div>

              <svg class="spheres__item-icon">
                <use xlink:href="img/sprite.svg#house"></use>
              </svg>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="spheres__item tabs__nav-btn" data-tab="6">
              <svg class="spheres__item-decor">
                <use xlink:href="img/sprite.svg#left_label"></use>
              </svg>
              <div class="spheres__item-name">
                Спортивный инвентарь
              </div>

              <svg class="spheres__item-icon">
                <use xlink:href="img/sprite.svg#sport"></use>
              </svg>
            </li>
          </div>
        </div>
      </div>

      <div class="spheres__body">
        <div class="spheres__item  tabs__nav-btn--active spheres__item--mobile" data-tab="1">
          <svg class="spheres__item-decor">
            <use xlink:href="img/sprite.svg#left_label"></use>
          </svg>

          <div class="spheres__item-name">
            Мебель
          </div>
          <svg class="spheres__item-icon">
            <use xlink:href="img/sprite.svg#sofa"></use>
          </svg>
        </div>
        <div class="spheres-item tabs__panel tabs__panel--active ajax-success" data-tab-item="1" data-cst-tabs>
          <div class="spheres-item__title spheres-item__title--mob">
            Мебель
          </div>
          <div class="spheres-item__inner">
            <div class="spheres-item__row">
              <div class="spheres-item__left">
                <div class="spheres-item__frames">

                    <div class="spheres-item__tab js-active ajax-success" data-cst-tabs-body="1">
                      <img src="img/frame.jpg" alt="">
                    </div>
                    <div class="spheres-item__tab" data-cst-tabs-body="2">
                      <video src="video/about.mp4" autoplay=""  loop=""></video>
                    </div>
                    <div class="spheres-item__tab" data-cst-tabs-body="3">
                      <div class="galleryInside swiper">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide"><img src="img/frame.jpg" alt=""></div>
                          <div class="swiper-slide"><img src="img/frame.jpg" alt=""></div>
                          <div class="swiper-slide"><img src="img/frame.jpg" alt=""></div>
                          <div class="swiper-slide"><img src="img/frame.jpg" alt=""></div>
                        </div>
                      </div>
                    </div>
                    <div class="spheres-item__tab" data-cst-tabs-body="4">
                      <iframe loading="lazy" src="https://embed.zarbo.tech/5f59a0eb-588c-4e30-b62b-123541004455/592/"></iframe>
                    </div>



                </div>
              </div>
              <div class="spheres-item__content">
                <h3>
                  Мебель
                </h3>
                <p>
                  Мы можем помочь в решении следующих проблем на рынке:
                </p>
                <ul>
                  <li>Площадь помещений не позволяет разместить все образцы мебели</li>
                  <li>Низкая конверсия в продажу</li>
                  <li>Высокая конкуренция на рынке</li>
                  <li>Трудности в представлении продукта покупателю</li>
                </ul>

                <a href="#" class="btn btn--default btn--border btn--border--ligntBlocks  spheres-item__btn">
                  <span class="btn__text"> <span>Узнать подробности</span></span>
                </a>
              </div>



            </div>
            <div class="spheres__thumbs">
              <div thumbsSlider="" class="swiper spheres__thumbs-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide spheres-item__tabs-item js-active" data-cst-tabs-button="1">
                    3D-модель
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item" data-cst-tabs-button="2">
                    360-фото
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item" data-cst-tabs-button="3">
                    Видео
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item" data-cst-tabs-button="4">
                    Фото
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item" data-cst-tabs-button="5">
                    3D-модель
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item" data-cst-tabs-button="6">
                    360-фото
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item" data-cst-tabs-button="7">
                    Видео
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item" data-cst-tabs-button="8">
                    Фото
                  </div>

                </div>
                <div class="swiper-scrollbar spheres__thumbs-scrollbar"></div>
                <div class="swiper-arrow swiper-button-next spheres__thumbs-arrow--next">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#slider-arrow"></use>
                  </svg>
                </div>
                <div class="swiper-arrow swiper-button-prev spheres__thumbs-arrow--prev">
                  <svg class="">
                    <use xlink:href="img/sprite.svg#slider-arrow"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="spheres__item spheres__item--mobile" data-tab="2">
          <svg class="spheres__item-decor">
            <use xlink:href="img/sprite.svg#left_label"></use>
          </svg>

          <div class="spheres__item-name">

            Бытовая техника, свет

          </div>
          <svg class="spheres__item-icon">
            <use xlink:href="img/sprite.svg#microwave"></use>
          </svg>
        </div>
        <div class="spheres-item tabs__panel" data-tab-item="2">
          <div class="spheres-item__title spheres-item__title--mob">
            Мебель
          </div>
          <div class="spheres-item__inner">
            <div class="spheres-item__row">
              <div class="spheres-item__left">
                <div class="spheres-item__frames swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>

                  </div>

                </div>
              </div>
              <div class="spheres-item__content">
                <h3>
                  Мебель
                </h3>
                <p>
                  Мы можем помочь в решении следующих проблем на рынке:
                </p>
                <ul>
                  <li>Площадь помещений не позволяет разместить все образцы мебели</li>
                  <li>Низкая конверсия в продажу</li>
                  <li>Высокая конкуренция на рынке</li>
                  <li>Трудности в представлении продукта покупателю</li>
                </ul>

                <a href="#" class="btn btn--default btn--border btn--border--ligntBlocks  spheres-item__btn">
                  <span class="btn__text"> <span>Узнать подробности</span></span>
                </a>
              </div>



            </div>

          <div class="spheres__thumbs">
            <div thumbsSlider="" class="swiper spheres__thumbs-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide spheres-item__tabs-item">
                  3D-модель
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  360-фото
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  Видео
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  Фото
                </div>

              </div>
              <div class="swiper-scrollbar spheres__thumbs-scrollbar"></div>
              <div class="swiper-arrow swiper-button-next spheres__thumbs-arrow--next "></div>
              <div class="swiper-arrow swiper-button-prev spheres__thumbs-arrow--prev"></div>
            </div>
          </div>
          </div>



        </div>
        <div class="spheres__item spheres__item--mobile" data-tab="3">
          <svg class="spheres__item-decor">
            <use xlink:href="img/sprite.svg#left_label"></use>
          </svg>

          <div class="spheres__item-name">


            Автомобильные диски


          </div>
          <svg class="spheres__item-icon">
            <use xlink:href="img/sprite.svg#disks"></use>
          </svg>
        </div>
        <div class="spheres-item tabs__panel" data-tab-item="3">
          <div class="spheres-item__title spheres-item__title--mob">
            Мебель
          </div>
          <div class="spheres-item__inner">
            <div class="spheres-item__row">
              <div class="spheres-item__left">
                <div class="spheres-item__frames swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>

                  </div>

                </div>
              </div>
              <div class="spheres-item__content">
                <h3>
                  Мебель
                </h3>
                <p>
                  Мы можем помочь в решении следующих проблем на рынке:
                </p>
                <ul>
                  <li>Площадь помещений не позволяет разместить все образцы мебели</li>
                  <li>Низкая конверсия в продажу</li>
                  <li>Высокая конкуренция на рынке</li>
                  <li>Трудности в представлении продукта покупателю</li>
                </ul>

                <a href="#" class="btn btn--default btn--border btn--border--ligntBlocks  spheres-item__btn">
                  <span class="btn__text"> <span>Узнать подробности</span></span>
                </a>
              </div>



            </div>
            <div class="spheres__thumbs">
              <div thumbsSlider="" class="swiper spheres__thumbs-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide spheres-item__tabs-item">
                    3D-модель
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item">
                    360-фото
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item">
                    Видео
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item">
                    Фото
                  </div>

                </div>
                <div class="swiper-scrollbar spheres__thumbs-scrollbar"></div>
                <div class="swiper-arrow swiper-button-next spheres__thumbs-arrow--next "></div>
                <div class="swiper-arrow swiper-button-prev spheres__thumbs-arrow--prev"></div>
              </div>
            </div>
          </div>




        </div>
        <div class="spheres__item spheres__item--mobile" data-tab="4">
          <svg class="spheres__item-decor">
            <use xlink:href="img/sprite.svg#left_label"></use>
          </svg>

          <div class="spheres__item-name">

            Техника

          </div>
          <svg class="spheres__item-icon">
            <use xlink:href="img/sprite.svg#technique"></use>
          </svg>
        </div>
        <div class="spheres-item tabs__panel" data-tab-item="4">
          <div class="spheres-item__title spheres-item__title--mob">
            Мебель
          </div>
          <div class="spheres-item__inner">
            <div class="spheres-item__row">
              <div class="spheres-item__left">
                <div class="spheres-item__frames swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>

                  </div>

                </div>
              </div>
              <div class="spheres-item__content">
                <h3>
                  Мебель
                </h3>
                <p>
                  Мы можем помочь в решении следующих проблем на рынке:
                </p>
                <ul>
                  <li>Площадь помещений не позволяет разместить все образцы мебели</li>
                  <li>Низкая конверсия в продажу</li>
                  <li>Высокая конкуренция на рынке</li>
                  <li>Трудности в представлении продукта покупателю</li>
                </ul>

                <a href="#" class="btn btn--default btn--border btn--border--ligntBlocks  spheres-item__btn">
                  <span class="btn__text"> <span>Узнать подробности</span></span>
                </a>
              </div>



            </div>
            <div class="spheres__thumbs">
              <div thumbsSlider="" class="swiper spheres__thumbs-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide spheres-item__tabs-item">
                    3D-модель
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item">
                    360-фото
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item">
                    Видео
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item">
                    Фото
                  </div>

                </div>
                <div class="swiper-scrollbar spheres__thumbs-scrollbar"></div>
                <div class="swiper-arrow swiper-button-next spheres__thumbs-arrow--next "></div>
                <div class="swiper-arrow swiper-button-prev spheres__thumbs-arrow--prev"></div>
              </div>
            </div>
          </div>




        </div>
        <div class="spheres__item spheres__item--mobile" data-tab="5">
          <svg class="spheres__item-decor">
            <use xlink:href="img/sprite.svg#left_label"></use>
          </svg>

          <div class="spheres__item-name">


            Строительство


          </div>
          <svg class="spheres__item-icon">
            <use xlink:href="img/sprite.svg#house"></use>
          </svg>
        </div>
        <div class="spheres-item tabs__panel" data-tab-item="5">
          <div class="spheres-item__title spheres-item__title--mob">
            Мебель
          </div>
          <div class="spheres-item__inner">
            <div class="spheres-item__row">
              <div class="spheres-item__left">
                <div class="spheres-item__frames swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>

                  </div>

                </div>
              </div>
              <div class="spheres-item__content">
                <h3>
                  Мебель
                </h3>
                <p>
                  Мы можем помочь в решении следующих проблем на рынке:
                </p>
                <ul>
                  <li>Площадь помещений не позволяет разместить все образцы мебели</li>
                  <li>Низкая конверсия в продажу</li>
                  <li>Высокая конкуренция на рынке</li>
                  <li>Трудности в представлении продукта покупателю</li>
                </ul>

                <a href="#" class="btn btn--default btn--border btn--border--ligntBlocks  spheres-item__btn">
                  <span class="btn__text"> <span>Узнать подробности</span></span>
                </a>
              </div>



            </div>
            <div class="spheres__thumbs">
              <div thumbsSlider="" class="swiper spheres__thumbs-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide spheres-item__tabs-item">
                    3D-модель
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item">
                    360-фото
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item">
                    Видео
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item">
                    Фото
                  </div>

                </div>
                <div class="swiper-scrollbar spheres__thumbs-scrollbar"></div>
                <div class="swiper-arrow swiper-button-next spheres__thumbs-arrow--next "></div>
                <div class="swiper-arrow swiper-button-prev spheres__thumbs-arrow--prev"></div>
              </div>
            </div>
          </div>




        </div>
        <div class="spheres__item spheres__item--mobile" data-tab="6">
          <svg class="spheres__item-decor">
            <use xlink:href="img/sprite.svg#left_label"></use>
          </svg>

          <div class="spheres__item-name">

            Спортивный инвентарь

          </div>
          <svg class="spheres__item-icon">
            <use xlink:href="img/sprite.svg#sport"></use>
          </svg>
        </div>
        <div class="spheres-item tabs__panel" data-tab-item="6">
          <div class="spheres-item__title spheres-item__title--mob">
            Мебель
          </div>
          <div class="spheres-item__inner">
            <div class="spheres-item__row">
              <div class="spheres-item__left">
                <div class="spheres-item__frames swiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>
                    <div class="swiper-slide spheres-item__frame">
                      <img src="img/frame.jpg" alt="">
                    </div>

                  </div>

                </div>
              </div>
              <div class="spheres-item__content">
                <h3>
                  Мебель
                </h3>
                <p>
                  Мы можем помочь в решении следующих проблем на рынке:
                </p>
                <ul>
                  <li>Площадь помещений не позволяет разместить все образцы мебели</li>
                  <li>Низкая конверсия в продажу</li>
                  <li>Высокая конкуренция на рынке</li>
                  <li>Трудности в представлении продукта покупателю</li>
                </ul>

                <a href="#" class="btn btn--default btn--border btn--border--ligntBlocks  spheres-item__btn">
                  <span class="btn__text"> <span>Узнать подробности</span></span>
                </a>
              </div>



            </div>
            <div class="spheres__thumbs">
              <div thumbsSlider="" class="swiper spheres__thumbs-slider">
                <div class="swiper-wrapper">
                  <div class="swiper-slide spheres-item__tabs-item">
                    3D-модель
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item">
                    360-фото
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item">
                    Видео
                  </div>
                  <div class="swiper-slide spheres-item__tabs-item">
                    Фото
                  </div>

                </div>
                <div class="swiper-scrollbar spheres__thumbs-scrollbar"></div>
                <div class="swiper-arrow swiper-button-next spheres__thumbs-arrow--next "></div>
                <div class="swiper-arrow swiper-button-prev spheres__thumbs-arrow--prev"></div>
              </div>
            </div>

          </div>



        </div>
      </div>
    </div>
  </div>
</section>
