<section class="section spheres">

  <div class="container">
    <div class="spheres__section-head section-head section-head--lit-margin">
      <h2 class="section-head__title">
        Дайте вашим клиентам больше причин для покупки
      </h2>
      <div class="section-head__desc">
        <p>
          Zarbo полезен в сферах:
        </p>
      </div>
    </div>

    <div class="spheres__row tabs-js"  data-tabs="spheres-tab">
      <div class="spheres__list swiper tabs__nav">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <li class="spheres__item tabs__nav-btn">
              <svg class="spheres__item-decor">
                <use xlink:href="img/sprite.svg#left_label"></use>
              </svg>

              <div class="spheres__item-name">
                Мебель
              </div>
              <svg class="spheres__item-icon">
                <use xlink:href="img/sprite.svg#sofa"></use>
              </svg>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="spheres__item tabs__nav-btn">
              <svg class="spheres__item-decor">
                <use xlink:href="img/sprite.svg#left_label"></use>
              </svg>
              <div class="spheres__item-name">
                Бытовая техника, свет
              </div>

              <svg class="spheres__item-icon">
                <use xlink:href="img/sprite.svg#microwave"></use>
              </svg>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="spheres__item tabs__nav-btn">
              <svg class="spheres__item-decor">
                <use xlink:href="img/sprite.svg#left_label"></use>
              </svg>
              <div class="spheres__item-name">
                Автомобильные диски
              </div>

              <svg class="spheres__item-icon">
                <use xlink:href="img/sprite.svg#disks"></use>
              </svg>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="spheres__item tabs__nav-btn">
              <svg class="spheres__item-decor">
                <use xlink:href="img/sprite.svg#left_label"></use>
              </svg>

              <div class="spheres__item-name">
                Техника
              </div>
              <svg class="spheres__item-icon">
                <use xlink:href="img/sprite.svg#technique"></use>
              </svg>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="spheres__item tabs__nav-btn">
              <svg class="spheres__item-decor">
                <use xlink:href="img/sprite.svg#left_label"></use>
              </svg>
              <div class="spheres__item-name">
                Строительство
              </div>

              <svg class="spheres__item-icon">
                <use xlink:href="img/sprite.svg#house"></use>
              </svg>
            </li>
          </div>
          <div class="swiper-slide">
            <li class="spheres__item tabs__nav-btn">
              <svg class="spheres__item-decor">
                <use xlink:href="img/sprite.svg#left_label"></use>
              </svg>
              <div class="spheres__item-name">
                Спортивный инвентарь
              </div>

              <svg class="spheres__item-icon">
                <use xlink:href="img/sprite.svg#sport"></use>
              </svg>
            </li>
          </div>
        </div>
      </div>

      <div class="spheres__body">

        <div class="spheres-item tabs__panel" >
          <div class="spheres-item__title spheres-item__title--mob">
            Мебель
          </div>
          <div class="spheres-item__row">
            <div class="spheres-item__left">
              <div class="spheres-item__frames swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>

                </div>

              </div>
            </div>
            <div class="spheres-item__content">
              <h3>
                Мебель
              </h3>
              <p>
                Мы можем помочь в решении следующих проблем на рынке:
              </p>
              <ul>
                <li>Площадь помещений не позволяет разместить все образцы мебели</li>
                <li>Низкая конверсия в продажу</li>
                <li>Высокая конкуренция на рынке</li>
                <li>Трудности в представлении продукта покупателю</li>
              </ul>

              <a href="#" class="btn btn--default btn--border btn--border--ligntBlocks  spheres-item__btn">
                <span class="btn__text"> <span>Узнать подробности</span></span>
              </a>
            </div>



          </div>
          <div class="spheres__thumbs">
            <div thumbsSlider="" class="swiper spheres__thumbs-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide spheres-item__tabs-item">
                  3D-модель
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  360-фото
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  Видео
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  Фото
                </div>

              </div>
            </div>
          </div>


        </div>
        <div class="spheres-item tabs__panel" >
          <div class="spheres-item__title spheres-item__title--mob">
            Мебель
          </div>
          <div class="spheres-item__row">
            <div class="spheres-item__left">
              <div class="spheres-item__frames swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>

                </div>

              </div>
            </div>
            <div class="spheres-item__content">
              <h3>
                Мебель
              </h3>
              <p>
                Мы можем помочь в решении следующих проблем на рынке:
              </p>
              <ul>
                <li>Площадь помещений не позволяет разместить все образцы мебели</li>
                <li>Низкая конверсия в продажу</li>
                <li>Высокая конкуренция на рынке</li>
                <li>Трудности в представлении продукта покупателю</li>
              </ul>

              <a href="#" class="btn btn--default btn--border btn--border--ligntBlocks  spheres-item__btn">
                <span class="btn__text"> <span>Узнать подробности</span></span>
              </a>
            </div>



          </div>
          <div class="spheres__thumbs">
            <div thumbsSlider="" class="swiper spheres__thumbs-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide spheres-item__tabs-item">
                  3D-модель
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  360-фото
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  Видео
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  Фото
                </div>

              </div>
            </div>
          </div>


        </div>
        <div class="spheres-item tabs__panel" >
          <div class="spheres-item__title spheres-item__title--mob">
            Мебель
          </div>
          <div class="spheres-item__row">
            <div class="spheres-item__left">
              <div class="spheres-item__frames swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>

                </div>

              </div>
            </div>
            <div class="spheres-item__content">
              <h3>
                Мебель
              </h3>
              <p>
                Мы можем помочь в решении следующих проблем на рынке:
              </p>
              <ul>
                <li>Площадь помещений не позволяет разместить все образцы мебели</li>
                <li>Низкая конверсия в продажу</li>
                <li>Высокая конкуренция на рынке</li>
                <li>Трудности в представлении продукта покупателю</li>
              </ul>

              <a href="#" class="btn btn--default btn--border btn--border--ligntBlocks  spheres-item__btn">
                <span class="btn__text"> <span>Узнать подробности</span></span>
              </a>
            </div>



          </div>
          <div class="spheres__thumbs">
            <div thumbsSlider="" class="swiper spheres__thumbs-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide spheres-item__tabs-item">
                  3D-модель
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  360-фото
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  Видео
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  Фото
                </div>

              </div>
            </div>
          </div>


        </div>
        <div class="spheres-item tabs__panel" >
          <div class="spheres-item__title spheres-item__title--mob">
            Мебель
          </div>
          <div class="spheres-item__row">
            <div class="spheres-item__left">
              <div class="spheres-item__frames swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>

                </div>

              </div>
            </div>
            <div class="spheres-item__content">
              <h3>
                Мебель
              </h3>
              <p>
                Мы можем помочь в решении следующих проблем на рынке:
              </p>
              <ul>
                <li>Площадь помещений не позволяет разместить все образцы мебели</li>
                <li>Низкая конверсия в продажу</li>
                <li>Высокая конкуренция на рынке</li>
                <li>Трудности в представлении продукта покупателю</li>
              </ul>

              <a href="#" class="btn btn--default btn--border btn--border--ligntBlocks  spheres-item__btn">
                <span class="btn__text"> <span>Узнать подробности</span></span>
              </a>
            </div>



          </div>
          <div class="spheres__thumbs">
            <div thumbsSlider="" class="swiper spheres__thumbs-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide spheres-item__tabs-item">
                  3D-модель
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  360-фото
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  Видео
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  Фото
                </div>

              </div>
            </div>
          </div>


        </div>
        <div class="spheres-item tabs__panel" >
          <div class="spheres-item__title spheres-item__title--mob">
            Мебель
          </div>
          <div class="spheres-item__row">
            <div class="spheres-item__left">
              <div class="spheres-item__frames swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>

                </div>

              </div>
            </div>
            <div class="spheres-item__content">
              <h3>
                Мебель
              </h3>
              <p>
                Мы можем помочь в решении следующих проблем на рынке:
              </p>
              <ul>
                <li>Площадь помещений не позволяет разместить все образцы мебели</li>
                <li>Низкая конверсия в продажу</li>
                <li>Высокая конкуренция на рынке</li>
                <li>Трудности в представлении продукта покупателю</li>
              </ul>

              <a href="#" class="btn btn--default btn--border btn--border--ligntBlocks  spheres-item__btn">
                <span class="btn__text"> <span>Узнать подробности</span></span>
              </a>
            </div>



          </div>
          <div class="spheres__thumbs">
            <div thumbsSlider="" class="swiper spheres__thumbs-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide spheres-item__tabs-item">
                  3D-модель
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  360-фото
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  Видео
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  Фото
                </div>

              </div>
            </div>
          </div>


        </div>
        <div class="spheres-item tabs__panel" >
          <div class="spheres-item__title spheres-item__title--mob">
            Мебель
          </div>
          <div class="spheres-item__row">
            <div class="spheres-item__left">
              <div class="spheres-item__frames swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>
                  <div class="swiper-slide spheres-item__frame">
                    <img src="img/frame.jpg" alt="">
                  </div>

                </div>

              </div>
            </div>
            <div class="spheres-item__content">
              <h3>
                Мебель
              </h3>
              <p>
                Мы можем помочь в решении следующих проблем на рынке:
              </p>
              <ul>
                <li>Площадь помещений не позволяет разместить все образцы мебели</li>
                <li>Низкая конверсия в продажу</li>
                <li>Высокая конкуренция на рынке</li>
                <li>Трудности в представлении продукта покупателю</li>
              </ul>

              <a href="#" class="btn btn--default btn--border btn--border--ligntBlocks  spheres-item__btn">
                <span class="btn__text"> <span>Узнать подробности</span></span>
              </a>
            </div>



          </div>
          <div class="spheres__thumbs">
            <div thumbsSlider="" class="swiper spheres__thumbs-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide spheres-item__tabs-item">
                  3D-модель
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  360-фото
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  Видео
                </div>
                <div class="swiper-slide spheres-item__tabs-item">
                  Фото
                </div>

              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>
