<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top__head">
        <div class="footer-top__row">
          <div class="footer-top__left">
            <div class="logo footer-top__logo">
              <img src="../img/logo.svg" width="180" height="39" alt="">
            </div>
            <div class="footer-top__desc">
              © Zarbo | 2023 <br>
              Все права защищены.
            </div>
          </div>
          <div class="footer-top__social social">
            <ul class="social__list">
              <li class="social__item"><a href="" class="social__link">
                <svg class="social__icon social__icon--big">
                  <use xlink:href="img/sprite.svg#WA"></use>
                </svg>
              </a></li>
              <li class="social__item"><a href="" class="social__link">
                <svg class="social__icon social__icon--big">
                  <use xlink:href="img/sprite.svg#TG"></use>
                </svg>
              </a></li>
              <li class="social__item"><a href="" class="social__link">
                <svg class="social__icon social__icon--big">
                  <use xlink:href="img/sprite.svg#YA"></use>
                </svg>
              </a></li>
              <li class="social__item"><a href="" class="social__link">
                <svg class="social__icon social__icon--big">
                  <use xlink:href="img/sprite.svg#YT"></use>
                </svg>
              </a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-top__menu">
        <div class="footer-top__menu-row">
          <div class="footer-top__col">
            <div class="footer-top__menu-title">
              <a href="">Решения</a>
            </div>
            <ul class="footer-top__list">
              <li class="footer-top__item"><a href="#" class="footer-top__link">3D-моделирование</a></li>
              <li class="footer-top__item"><a href="#" class="footer-top__link">Цифровая фотостудия</a></li>
              <li class="footer-top__item"><a href="#" class="footer-top__link">Анимация и моушен</a></li>
            </ul>
          </div>
          <div class="footer-top__col">
            <div class="footer-top__menu-title">
              <a href="">Для бизнеса</a>
            </div>
            <ul class="footer-top__list">
              <li class="footer-top__item"><a href="#" class="footer-top__link">Мебель</a></li>
              <li class="footer-top__item"><a href="#" class="footer-top__link">Бытовая техника</a></li>
              <li class="footer-top__item"><a href="#" class="footer-top__link">Товары для дома</a></li>
              <li class="footer-top__item"><a href="#" class="footer-top__link">Спортинвентарь</a></li>
              <li class="footer-top__item"><a href="#" class="footer-top__link">Диски для авто</a></li>
            </ul>
          </div>
          <div class="footer-top__col">
            <div class="footer-top__menu-title">
              <a href="">О нас</a>
            </div>
            <ul class="footer-top__list">
              <li class="footer-top__item"><a href="#" class="footer-top__link">О компании</a></li>
              <li class="footer-top__item"><a href="#" class="footer-top__link">Команда</a></li>
              <li class="footer-top__item"><a href="#" class="footer-top__link">Вакансии</a></li>
              <li class="footer-top__item"><a href="#" class="footer-top__link">Сотрудничество</a></li>

            </ul>
          </div>
          <div class="footer-top__col">
            <div class="footer-top__menu-title">
              <a href="">Цены</a>
            </div>
            <ul class="footer-top__list">
              <li class="footer-top__item"><a href="#" class="footer-top__link">Платформа Zarbo</a></li>
              <li class="footer-top__item"><a href="#" class="footer-top__link">Создание контента</a></li>

            </ul>
          </div>
          <div class="footer-top__col">
            <div class="footer-top__menu-title">
              <a href="">Информация</a>
            </div>
            <ul class="footer-top__list">
              <li class="footer-top__item"><a href="#" class="footer-top__link">Блог</a></li>
              <li class="footer-top__item"><a href="#" class="footer-top__link">Документация</a></li>

            </ul>
          </div>
          <div class="footer-top__col">
            <div class="footer-top__menu-title">
              <a href="">Платформа</a>
            </div>
            <ul class="footer-top__list">
              <li class="footer-top__item"><a href="#" class="footer-top__link">О платформе</a></li>
              <li class="footer-top__item"><a href="#" class="footer-top__link">Галерея</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
     <div class="footer-bottom__row">
      <div class='footer-bottom__about-prod about-prod'>
        <div class="about-prod__row">
          <div class="about-prod__left">
            <a href="#">
              <img src="img/fond.svg " alt="">
            </a>
          </div>
          <div class="about-prod__right">
            <div class="about-prod__label">Победитель:</div>
            <div class="about-prod__logos">
              <a href="#">
                <img src="img/logo-sprint.svg" alt="">
              </a>
              <a href="#">
                <img src="img/logo-free.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom__info">
        <p>
          ООО "ЗАРБО", ИНН/КПП: 3666261890/366601001, ОРГН: 1213600029928 <br>
          Адрес: 394036, Воронежская область, г.о. город Воронеж, г. Воронеж, ул. Пролетарская 87в, офис 88
        </p>
        <a href="mailto:info@zarbo.tech">info@zarbo.tech</a>
      </div>
     </div>
     <ul class="footer__docs">
      <li class="footer__docs-item"><a href="#" class="footer__docs-link">Политика в отношении обработки персональных данных</a></li>
      <li class="footer__docs-item"><a href="#" class="footer__docs-link">Соглашение об уровне обслуживания сервиса</a></li>
      <li class="footer__docs-item"><a href="#" class="footer__docs-link">Публичная оферта на предоставление права использования сервиса</a></li>
      <li class="footer__docs-item"><a href="#" class="footer__docs-link">Сводная ведомость результатов проведения СУОТ</a></li>
    </ul>
    </div>
  </div>
</footer>
