<div class="benefits-table__inner">
  <div class="benefits-table__row">
    <div class="benefits-table__left">

    </div>
    <div class="benefits-table__col benefits-table__col--title">Бесплатный</div>
    <div class="benefits-table__col benefits-table__col--title">Старт</div>
    <div class="benefits-table__col benefits-table__col--title">Бизнес</div>
  </div>
  <h3 class="benefits-table__head-title">
    Основные
  </h3>
  <div class="benefits-table__row">
    <div class="benefits-table__left">
      Количество продуктов
    </div>
    <div class="benefits-table__col benefits-table__col">до 3</div>
    <div class="benefits-table__col benefits-table__col">до 50</div>
    <div class="benefits-table__col benefits-table__col">до 1000</div>
  </div>
  <div class="benefits-table__row">
    <div class="benefits-table__left">
      Количество материалов у продукта
    </div>
    <div class="benefits-table__col benefits-table__col">-</div>
    <div class="benefits-table__col benefits-table__col">до 5</div>
    <div class="benefits-table__col benefits-table__col">Без ограничений</div>
  </div>

  <div class="benefits-table__row">
    <div class="benefits-table__left">
      Интеграции
    </div>
    <div class="benefits-table__col benefits-table__col">На один сайт</div>
    <div class="benefits-table__col benefits-table__col">до 3 сайтов</div>
    <div class="benefits-table__col benefits-table__col">до 5 сайтов</div>
  </div>







    <h3 class="benefits-table__head-title">
      Виджет
    </h3>
    <div class="benefits-table__head-desc">
      Интеграционная форма, размещаемая на сайте или интернет-магазине
    </div>

  <div class="benefits-table__row">
    <div class="benefits-table__left">
      3D визуализация
    </div>
    <div class="benefits-table__col benefits-table__col">
      <svg class="active">
        <use xlink:href="img/sprite.svg#item-icon"></use>
      </svg>
    </div>
    <div class="benefits-table__col benefits-table__col">
      <svg class="active">
        <use xlink:href="img/sprite.svg#item-icon"></use>
      </svg>
    </div>
    <div class="benefits-table__col benefits-table__col">
      <svg class="active">
        <use xlink:href="img/sprite.svg#item-icon"></use>
      </svg>
    </div>
  </div>
  <div class="benefits-table__row">
    <div class="benefits-table__left">
      Виртуальная примерка
    </div>
    <div class="benefits-table__col benefits-table__col">
      <svg class="active">
        <use xlink:href="img/sprite.svg#item-icon"></use>
      </svg>
    </div>
    <div class="benefits-table__col benefits-table__col">
      <svg class="active">
        <use xlink:href="img/sprite.svg#item-icon"></use>
      </svg>
    </div>
    <div class="benefits-table__col benefits-table__col">
      <svg class="active">
        <use xlink:href="img/sprite.svg#item-icon"></use>
      </svg>
    </div>
  </div>

  <div class="benefits-table__row">
    <div class="benefits-table__left benefits-table__left--soon">
      360-фото (скоро)
    </div>
    <div class="benefits-table__col benefits-table__col">
      <svg class="">
        <use xlink:href="img/sprite.svg#cross"></use>
      </svg>
    </div>
    <div class="benefits-table__col benefits-table__col">
         <svg class="active">
          <use xlink:href="img/sprite.svg#item-icon"></use>
        </svg>
    </div>
    <div class="benefits-table__col benefits-table__col">
         <svg class="active">
          <use xlink:href="img/sprite.svg#item-icon"></use>
        </svg>
    </div>
  </div>

  <div class="benefits-table__row">
    <div class="benefits-table__left benefits-table__left--soon">
      Галерея фото (скоро)
    </div>
    <div class="benefits-table__col benefits-table__col">
      <svg class="">
        <use xlink:href="img/sprite.svg#cross"></use>
      </svg>
    </div>
    <div class="benefits-table__col benefits-table__col">
          <svg class="active">
          <use xlink:href="img/sprite.svg#item-icon"></use>
        </svg>
    </div>
    <div class="benefits-table__col benefits-table__col">
          <svg class="active">
          <use xlink:href="img/sprite.svg#item-icon"></use>
        </svg>
    </div>
  </div>

  <div class="benefits-table__row">
    <div class="benefits-table__left benefits-table__left--soon">
      Видео (скоро)
    </div>
    <div class="benefits-table__col benefits-table__col">
      <svg class="">
        <use xlink:href="img/sprite.svg#cross"></use>
      </svg>
    </div>
    <div class="benefits-table__col benefits-table__col">
      <svg class="">
        <use xlink:href="img/sprite.svg#cross"></use>
      </svg>
    </div>
    <div class="benefits-table__col benefits-table__col">
      <svg class="active">
        <use xlink:href="img/sprite.svg#item-icon"></use>
      </svg>
    </div>
  </div>



  <h3 class="benefits-table__head-title">
    Брендирование
  </h3>
  <div class="benefits-table__head-desc">
    Настройка внешнего вида виджета
  </div>

  <div class="benefits-table__row">
  <div class="benefits-table__left">
    Логотип Zarbo
  </div>
  <div class="benefits-table__col benefits-table__col">
    Да
  </div>
  <div class="benefits-table__col benefits-table__col">
   Нет
  </div>
  <div class="benefits-table__col benefits-table__col">
    Нет
  </div>
  </div>
  <div class="benefits-table__row">
  <div class="benefits-table__left">
    Свой логотип
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="">
      <use xlink:href="img/sprite.svg#cross"></use>
    </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="active">
      <use xlink:href="img/sprite.svg#item-icon"></use>
    </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="active">
      <use xlink:href="img/sprite.svg#item-icon"></use>
    </svg>
  </div>
  </div>

  <div class="benefits-table__row">
  <div class="benefits-table__left">
    Смена иконки кнопки-действия в виджете
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="">
      <use xlink:href="img/sprite.svg#cross"></use>
    </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
       <svg class="active">
        <use xlink:href="img/sprite.svg#item-icon"></use>
      </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
       <svg class="active">
        <use xlink:href="img/sprite.svg#item-icon"></use>
      </svg>
  </div>
  </div>

  <div class="benefits-table__row">
  <div class="benefits-table__left">
    Настройка стиля QR-кода
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="">
      <use xlink:href="img/sprite.svg#cross"></use>
    </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
        <svg class="active">
        <use xlink:href="img/sprite.svg#item-icon"></use>
      </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
        <svg class="active">
        <use xlink:href="img/sprite.svg#item-icon"></use>
      </svg>
  </div>
  </div>
  <div class="benefits-table__row">
    <div class="benefits-table__left">
      Настройка кнопки «Примерить»
    </div>
    <div class="benefits-table__col benefits-table__col">
      <svg class="">
        <use xlink:href="img/sprite.svg#cross"></use>
      </svg>
    </div>
    <div class="benefits-table__col benefits-table__col">
          <svg class="active">
          <use xlink:href="img/sprite.svg#item-icon"></use>
        </svg>
    </div>
    <div class="benefits-table__col benefits-table__col">
          <svg class="active">
          <use xlink:href="img/sprite.svg#item-icon"></use>
        </svg>
    </div>
    </div>


  <h3 class="benefits-table__head-title">
    Продукты
  </h3>
  <div class="benefits-table__head-desc">
    Управление 3D-моделями товаров
  </div>

  <div class="benefits-table__row">
  <div class="benefits-table__left">
    Система тегов
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="">
      <use xlink:href="img/sprite.svg#cross"></use>
    </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="">
      <use xlink:href="img/sprite.svg#cross"></use>
    </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="active">
      <use xlink:href="img/sprite.svg#item-icon"></use>
    </svg>
  </div>
  </div>
  <div class="benefits-table__row">
  <div class="benefits-table__left">
    Подмена модели в режиме визуальной примерки
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="">
      <use xlink:href="img/sprite.svg#cross"></use>
    </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="active">
      <use xlink:href="img/sprite.svg#item-icon"></use>
    </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="active">
      <use xlink:href="img/sprite.svg#item-icon"></use>
    </svg>
  </div>
  </div>

  <div class="benefits-table__row">
  <div class="benefits-table__left">
    Максимальный вес 3D-модели
  </div>
  <div class="benefits-table__col benefits-table__col">
    15 Мб
  </div>
  <div class="benefits-table__col benefits-table__col">
    35 Мб
  </div>
  <div class="benefits-table__col benefits-table__col">
    100 Мб
  </div>
  </div>

  <div class="benefits-table__row">
  <div class="benefits-table__left">
    Загрузка и хранение рабочих проектов 3D-моделей
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="">
      <use xlink:href="img/sprite.svg#cross"></use>
    </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
        <svg class="active">
        <use xlink:href="img/sprite.svg#item-icon"></use>
      </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
        <svg class="active">
        <use xlink:href="img/sprite.svg#item-icon"></use>
      </svg>
  </div>
  </div>

  <div class="benefits-table__row">
    <div class="benefits-table__left">
      Пакетный экспорт QR-кодов
    </div>
    <div class="benefits-table__col benefits-table__col">
      <svg class="">
        <use xlink:href="img/sprite.svg#cross"></use>
      </svg>
    </div>
    <div class="benefits-table__col benefits-table__col">
          <svg class="active">
          <use xlink:href="img/sprite.svg#item-icon"></use>
        </svg>
    </div>
    <div class="benefits-table__col benefits-table__col">
          <svg class="active">
          <use xlink:href="img/sprite.svg#item-icon"></use>
        </svg>
    </div>
    </div>






  <h3 class="benefits-table__head-title">
    Защита 3D-моделей
  </h3>

  <div class="benefits-table__row">
  <div class="benefits-table__left">
    Шифрование данных
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="active">
      <use xlink:href="img/sprite.svg#item-icon"></use>
    </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="active">
      <use xlink:href="img/sprite.svg#item-icon"></use>
    </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="active">
      <use xlink:href="img/sprite.svg#item-icon"></use>
    </svg>
  </div>
  </div>

  <div class="benefits-table__row">
  <div class="benefits-table__left">
    Цифровая подпись
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="">
      <use xlink:href="img/sprite.svg#cross"></use>
    </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="">
      <use xlink:href="img/sprite.svg#cross"></use>
    </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
       <svg class="active">
        <use xlink:href="img/sprite.svg#item-icon"></use>
      </svg>
  </div>
  </div>

  <div class="benefits-table__row">
  <div class="benefits-table__left benefits-table__left--soon">
    Водяные знаки (скоро)
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="">
      <use xlink:href="img/sprite.svg#cross"></use>
    </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
        <svg class="active">
        <use xlink:href="img/sprite.svg#item-icon"></use>
      </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
        <svg class="active">
        <use xlink:href="img/sprite.svg#item-icon"></use>
      </svg>
  </div>
  </div>






  <h3 class="benefits-table__head-title">
    Доп. возможности
  </h3>

  <div class="benefits-table__row">
  <div class="benefits-table__left benefits-table__left--soon benefits-table__left--lit">
    <div class="benefits-table__left-title">
      Аналитика
    </div>
    Сбор и визуализация средний о использовании виджетов и просмотрах товаров
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="">
      <use xlink:href="img/sprite.svg#cross"></use>
    </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="">
      <use xlink:href="img/sprite.svg#cross"></use>
    </svg>
  </div>
  <div class="benefits-table__col benefits-table__col">
    <svg class="active">
      <use xlink:href="img/sprite.svg#item-icon"></use>
    </svg>
  </div>
  </div>

  <div class="benefits-table__row">
    <div class="benefits-table__left benefits-table__left--soon benefits-table__left--lit">
      <div class="benefits-table__left-title">
        Команды
      </div>
      Совместная работа сотрудников в одном личном кабинете
    </div>
  <div class="benefits-table__col benefits-table__col">
    Нет
  </div>
  <div class="benefits-table__col benefits-table__col">
    До 5 учетных записей
  </div>
  <div class="benefits-table__col benefits-table__col">
    Без ограничений
  </div>
  </div>

  <div class="benefits-table__row">
  <div class="benefits-table__left benefits-table__left--soon">
    Водяные знаки (скоро)
  </div>
  <div class="benefits-table__col benefits-table__col">
    -
  </div>
  <div class="benefits-table__col benefits-table__col">
    Количество продуктов X2
  </div>
  <div class="benefits-table__col benefits-table__col">
    Количество продуктов X5
  </div>
  </div>

  <div class="benefits-table__row">
    <div class="benefits-table__left benefits-table__left--soon">
      Витрина 3D моделей для дизайнеров (скоро)
    </div>
    <div class="benefits-table__col benefits-table__col">
      <svg class="">
        <use xlink:href="img/sprite.svg#cross"></use>
      </svg>
    </div>
    <div class="benefits-table__col benefits-table__col">
          <svg class="active">
          <use xlink:href="img/sprite.svg#item-icon"></use>
        </svg>
    </div>
    <div class="benefits-table__col benefits-table__col">
          <svg class="active">
          <use xlink:href="img/sprite.svg#item-icon"></use>
        </svg>
    </div>
    </div>


</div>
