//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1242; // общая ширина макета
$maxWidthContainer: 1272; // у основному знаечению 1240 добавляем 30px
$md1: $maxWidthContainer+12;
$md2: 1024;
$md3: 768;
$md4: 375;

$transtion: .4s;
//<Цвета по умолчанию>==========================================================================================
$mainColor: #464547;
$zag: #1D1C1E;
$textOnDark:#EDE6F5;
$minorText:#8A7E95;
$phiolText:#734CA5;
$lightDark:#E1D8FC;
$white:#FFF;
$lightBlock:#F1ECFF;

//</Цвета по умолчанию>==========================================================================================
